.chat {
    display: flex;
    flex-direction: column;
    max-width: 540px !important;
    gap: 12px;
}

.my-chat-message .card-header .card-title {
    text-align: right;
}

.scroll-down-button {
    position: sticky;
    left: 9px;
    top: 97px;
    width: 100%;
    text-decoration: none;
    color: #D3D3D3;
    transition: 'all .2s';
}

.scroll-down-button, .scroll-down-button:hover, .scroll-down-button:focus, .scroll-down-button:active {
    text-decoration: none;
    color: #D3D3D3;
}
