.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
}

.message .nickname {
    font-weight: bold;
}

.message-left .nickname {
    text-align: left;
    width: 200px;
    float: left;
}

.message-left .nickname {
    text-align: left;
}

.message-right .nickname {
    text-align: right;
}

.message-left {
    width: 200px;
    float: left;
}

.message-right {
    width: 200px;
    float: right;
}

/*.grouped {*/
/*    margin: 0;*/
/*}*/

.message-header {
    display: flex;
}

.zoom-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.zoom-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.zoom-area img {
    max-width: 100%;
    height: auto;
    width: auto;
}


