.message {
    position: initial!important;
}

.message-header {
    display: flex;
}

.zoom-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.zoom-area button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.zoom-area img {
    max-width: 100%;
    height: auto;
    width: auto;
}


